# Values para myapp-009 en dev
# Generado automáticamente por Backstage
# Tipo: 

replicaCount: 1
image:
  # Imagen custom - será actualizada por CI/CD
  repository: 226633502530.dkr.ecr.us-east-1.amazonaws.com/myapp-009
  tag: main-f1b2426-36
  pullPolicy: Always
nameOverride: "myapp-009"
fullnameOverride: "myapp-009"
serviceAccount:
  create: true
  annotations: {}
  name: ""
service:
  type: ClusterIP
  port: 80
  targetPort: 80
ingress:
  enabled: false
  className: "nginx"
  annotations: {}
  hosts:
    - host: myapp-009-dev.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi
autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
livenessProbe:
  httpGet:
    path: /healthz
    port: http
  initialDelaySeconds: 30
  periodSeconds: 10
readinessProbe:
  httpGet:
    path: /ready
    port: http
  initialDelaySeconds: 10
  periodSeconds: 5
env: []
configMap:
  enabled: false
  data: {}
secret:
  enabled: false
  data: {}
