# Values para test-app07 en dev
# Generado automáticamente por Backstage
# Tipo: 

replicaCount: 1
image:
  # Imagen custom - será actualizada por CI/CD
  repository: 226633502530.dkr.ecr.us-east-1.amazonaws.com/test-app07
  tag: main-79c0a89-16
  pullPolicy: Always
nameOverride: "test-app07"
fullnameOverride: "test-app07"
serviceAccount:
  create: true
  annotations: {}
  name: ""
service:
  type: ClusterIP
  port: 80
  targetPort: 80
ingress:
  enabled: false
  className: "nginx"
  annotations: {}
  hosts:
    - host: test-app07-dev.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
livenessProbe:
  httpGet:
    path: /healthz
    port: http
  initialDelaySeconds: 30
  periodSeconds: 10
readinessProbe:
  httpGet:
    path: /ready
    port: http
  initialDelaySeconds: 10
  periodSeconds: 5
env: []
configMap:
  enabled: false
  data: {}
secret:
  enabled: false
  data: {}
